.hovered-item:hover {
    background-color: #fcfefe;
}

span[toggled_button~=true] .product_text_buttons {
    opacity: 1;
}

.hovered-item .product_text_buttons {
    opacity: 0;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    -o-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}

.hovered-item:hover .product_text_buttons {
    opacity: 1;
}

.ico-button {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    line-height: 14px;
    display: inline-block;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid rgb(232, 232, 232);
    padding: 5px;
    background-position: 5px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    -webkit-transition: background-image 300ms ease-out;
    -moz-transition: background-image 300ms ease-out;
    -o-transition: background-image 300ms ease-out;
    transition: background-image 300ms ease-out;
}

.ico-home {
    background-image: url(/public/images/home-default.ico);
}

.ico-home:hover {
    background-image: url(/public/images/home.ico);
}

.ico-facebook {
    background-image: url(/public/images/facebook-default.ico);
}

.ico-facebook:hover {
    background-image: url(/public/images/facebook.ico);
}

.ico-vk {
    background-image: url(/public/images/vk-default.ico);
}

.ico-vk:hover {
    background-image: url(/public/images/vk.ico);
}

.ico-twitter {
    background-image: url(/public/images/twitter-default.ico);
}

.ico-twitter:hover {
    background-image: url(/public/images/twitter.ico);
}

.ico-youtube {
    background-image: url(/public/images/youtube-default.ico);
}

.ico-youtube:hover {
    background-image: url(/public/images/youtube.ico);
}

.ico-lastfm {
    background-image: url(/public/images/lastfm-default.ico);
}

.ico-lastfm:hover {
    background-image: url(/public/images/lastfm.ico);
}

.ico-cloudsound {
    background-image: url(/public/images/cloudsound-default.ico);
}

.ico-cloudsound:hover {
    background-image: url(/public/images/cloudsound.ico);
}

.ico-review {
    background-image: url(/public/images/review-default.ico);
}

.ico-review:hover {
    background-image: url(/public/images/review.ico);
}

.ico-afisha {
    background-image: url(/public/images/afisha-default.ico);
}

.ico-afisha:hover {
    background-image: url(/public/images/afisha.ico);
}
