#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">
    <div style="border:1px solid rgb(232, 232, 232); -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px; background-color: white;">
    <table style="width: 100%;">
        <tr>
            <td style="padding: 0 15px;">
                <h4 id="crudShowTitle">&{'crud.show.title'}</h4>
            </td>
        </tr>
        <tr>
            <td style="padding: 10px 15px; border-top:1px solid rgb(232, 232, 232);">

                <div class="objectForm">
                #{form action:@save(object._key()), enctype:'multipart/form-data'}
                    #{if user.isAdmin}
                        #{crud.form fields:['email', 'fullname', 'password', 'isAdmin', 'categories' ] /}
                    #{/if}
                    #{else}
                        #{crud.form fields:['email', 'fullname', 'password', 'categories' ] /}
                    #{/else}

                    <p class="crudButtons" style="float: right;">
                        <input type="submit" name="_save" value="&{'crud.save'}" class="btn btn-primary"/>
                        *{<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" class="btn"/>}*
                    </p>
                #{/form}
                </div>

            #{form @delete(object._key())}
                    <input type="submit" value="&{'crud.delete'}" class="btn btn-danger"/>
            #{/form}
            </td>
        </tr>
    </table>
</div>