<tr class="hovered-item">
    <td style="padding: 14px; border-top:1px solid rgb(232, 232, 232); width: 65px; vertical-align: top;">
        <img src="@{productPhoto(_product.id)}" class="img-rounded" style="width:65px">
    </td>
    *{<td style="border-bottom:1px solid rgb(232, 232, 232); width: 10px;">
        &nbsp;
    </td>}*
    <td valign="top" style="padding: 10px 10px 10px 0; border-top:1px solid rgb(232, 232, 232);"
        onclick="toggleProduct(${_product.id})">

        <a href="@{index(null, _product.id)}" style="color: black;" onclick="event.stopPropagation();"><strong>${_product.title}</strong></a>

        #{if _product.category}
            <a href="@{index(_product.category.id)}" class="muted" onclick="event.stopPropagation();"><small>${_product.category}</small></a>
        #{/if}

        #{if _product.parent}
            <a href="@{index(null, _product.parent.id)}" class="muted" onclick="event.stopPropagation();"><small>${_product.parent}</small></a>
        #{/if}
        <p>
        ${_product.description.nl2br()}
        </p>
        #{if _product.url || _product.twitter || _product.facebook || _product.vk || _product.youTube || _product.review || _product.afisha || _product.lastFM || _product.cloudsound}
        <div id="product_buttons_${_product.id}" style=" display: none;">
            <p>
                #{if _product.url} <a href="${_product.url}" target="_blank" class="ico-button ico-home title_hint" title="&{'url'}" onclick="event.stopPropagation();"></a> #{/if}
                #{if _product.twitter} <a href="${_product.twitter}" target="_blank" class="ico-button ico-twitter title_hint" title="&{'twitter'}" onclick="event.stopPropagation();"></a> #{/if}
                #{if _product.facebook} <a href="${_product.facebook}" target="_blank" class="ico-button ico-facebook title_hint" title="&{'facebook'}" onclick="event.stopPropagation();"></a> #{/if}
                #{if _product.vk} <a href="${_product.vk}" target="_blank" class="ico-button ico-vk title_hint" title="&{'vk'}" onclick="event.stopPropagation();"></a> #{/if}
                #{if _product.youTube} <a href="${_product.youTube}" target="_blank" class="ico-button ico-youtube title_hint" title="&{'youTube'}" onclick="event.stopPropagation();"></a> #{/if}
                #{if _product.lastFM} <a href="${_product.lastFM}" target="_blank" class="ico-button ico-lastfm title_hint" title="&{'lastFM'}" onclick="event.stopPropagation();"></a> #{/if}
                #{if _product.cloudsound} <a href="${_product.cloudsound}" target="_blank" class="ico-button ico-cloudsound title_hint" title="&{'cloudsound'}" onclick="event.stopPropagation();"></a> #{/if}
                #{if _product.review} <a href="${_product.review}" target="_blank" class="ico-button ico-review title_hint" title="&{'review'}" onclick="event.stopPropagation();"></a> #{/if}
                #{if _product.afisha} <a href="${_product.afisha}" target="_blank" class="ico-button ico-afisha title_hint" title="&{'afisha'}" onclick="event.stopPropagation();"></a> #{/if}
            </p>
        </div>
        #{/if}
        <small class="muted">${_product.date?.format('d, MMMM yyyy')}</small>
        #{if _user != null}
            &nbsp;
            <span id="product_text_buttons_${_product.id}">
                <small>
                    <a id="like_button_${_product.id}" href="#" class="product_text_buttons slow_title_hint"
                       onclick="toggleLike(${_product.id}, '${_product.title}', '@{index(null, _product.id)}',
                           #{if selectedProduct && selectedProduct.id == _product.id}true#{/if}#{else}false#{/else} );
                            event.stopPropagation();"
                       like="#{if _user.products.contains(_product)}true#{/if}#{else}false#{/else}"
                       title="#{if _user.products.contains(_product)}&{'unsubscribe'}#{/if}#{else}&{'subscribe'}#{/else}">
                    #{if _user.products.contains(_product)}&{'dislike'}#{/if}#{else}&{'like'}#{/else}
                </a>
                </small>
            </span>
        #{/if}
    </td>
</tr>
