#{extends 'main.html'/}

#{set title: messages.get("about") /}

<div class="row">
    <header class="hero-unit" id="overview">
        <h1>Мы ищем редакторов!</h1>

        <p class="lead">В рамках нового медиа-проекта мы открываем стажерскую программую для
            начинающих журналистов.
            Мы ищем таланлтивых молодых людей, готовых учиться и участвовать в создании медиа нового формата.</p>

        *{<p><a class="btn btn-success btn-large">О проекте »</a></p>}*
    </header>

    <div class="span8">
            <h4>О проекте</h4>
            <p style="font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; line-height: 25px; padding-bottom: 10px;">
                Проект Likespot является экспериментом и попыткой создать издательство принципиально нового формата.
                Нам надоели существующие медиа с их скучным подходом. Мы хотим создать живое интерактивное издание,
                социальную сеть вокруг музыки, кино, искусства, литературы и т.п.
            </p>
            <p style="font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; line-height: 25px; padding-bottom: 10px;">
                Мы не планируем писать рецензии, брать интервью или публиковать новости.
                <br/>Наша цель выбирать лучшее из предметов потребления, будь то новая книга,
                музыкальный альбом, новый фильм, выставка, лекция или место в городе.
            </p>
            <p style="font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; line-height: 25px; padding-bottom: 10px;">
                В настоящий момент мы ищем редакторов, готовых следить за всем новым, что происходит
                в музыкальной индустрии, кино, литературе и других направлениях.
                </p>

            <h4>Требования</h4>
            <ul style="font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; padding-bottom: 10px;">
                <li style="line-height: 25px;">Возраст от 15 до 25</li>
                <li style="line-height: 25px;">Проживание в Санкт-Петербурге</li>
                <li style="line-height: 25px;">Интерес к журналистике, медиа и рекламе.</li>
                <li style="line-height: 25px;">Ответственность, самокритичность и целеустремленность.</li>
                <li style="line-height: 25px;">Желание учиться и развиваться.</li>
                <li style="line-height: 25px;">Наличие свободного времени, не менее часа ежедневно.</li>
            </ul>

            <h4>Что мы предлагаем</h4>

            <p style="font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; line-height: 25px; padding-bottom: 10px;">
                Мы предлагаем участовать в новом амбициозном проекте. Вы узнаете много нового, научитесь выпускать интересный и качественный медиа-продукт.
            </p>

            <p style="font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; line-height: 25px; padding-bottom: 10px;">
                Если вам интересна журналистика, вы любите все новое и готовы участвовать в проекте, мы ждем вас!
            </p>

            <h4>Контакты</h4>
                <p style="font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; line-height: 25px; padding-bottom: 10px;">
                    Почта: <a href="mailto:andrey.cheptsov@gmail.com">andrey.cheptsov@gmail.com</a>
                    <br/>
                    ВКонтакте: <a href="http://vk.com/andrey.cheptsov">Андрей Чепцов</a>
            </p>
    </div>

    <div class="span4">
        <div style="border:1px solid rgb(232, 232, 232); -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                -khtml-border-radius: 5px;
                border-radius: 5px; padding: 10px 15px;">
            <span>Направления</span>
            <p></p>
            <ul class="unstyled">
                <li><a href="#"><small>Места</small></a></li>
                <li><a href="#"><small>Музыка</small></a></li>
                <li><a href="#"><small>Книги</small></a></li>
                <li><a href="#"><small>Театры</small></a></li>
                <li><a href="#"><small>Выставки</small></a></li>
                <li><a href="#"><small>Мода</small></a></li>
                <li><a href="#"><small>Фильмы</small></a></li>
                <li><a href="#"><small>Лекции</small></a></li>
                <li><a href="#"><small>Сериалы</small></a></li>
                <li><a href="#"><small>Игры</small></a></li>
                <li><a href="#"><small>Гаджеты</small></a></li>
            </ul>
        </div>
    </div>
</div>