#{extends 'main.html' /}
#{if selectedProduct}
    #{set title: selectedProduct.title /}
    #{set description: selectedProduct.description /}
    %{
        Map<String, Object> args = new HashMap<String, Object>();
        args = new HashMap();
        args.put("id", selectedProduct.id);
        image = play.mvc.Router.getFullUrl("Application.productPhoto", args);
    }%
    #{set image: image /}
#{/if}
#{elseif selectedCategory}
    #{set title: selectedCategory.title /}
#{/elseif}
#{else}
    #{set title: messages.get("timeline") /}
#{/else}
<script type="text/javascript">
    function toggleProduct(id) {
        if (window['previous_product_buttons'] != id) {
            if (window['previous_product_buttons']) {
                $('#product_buttons_' + window['previous_product_buttons']).animate({opacity:'hide', height:'hide'}, 500);
                $('#product_text_buttons_' + window['previous_product_buttons']).removeAttr("toggled_button");
                $('#product_text_buttons_' + window['previous_product_buttons']).parent().parent().removeAttr("toggled_parent");
            }
            $('#product_buttons_' + id).animate({opacity:'show', height:'show'}, 500);
            $('#product_text_buttons_' + id).attr("toggled_button", true);
            $('#product_text_buttons_' + id).parent().parent().attr("toggled_parent", true);
            window['previous_product_buttons'] = id;
        } else {
            $('#product_buttons_' + id).animate({opacity:'hide', height:'hide'}, 500);
            $('#product_text_buttons_' + id).removeAttr("toggled_button");
            $('#product_text_buttons_' + id).parent().parent().removeAttr("toggled_parent");
            window['previous_product_buttons'] = 0;
        }
    }

    function toggleLike(id, title, href, selected) {
        var toggleLikeF = #{jsAction @toggleLike(':id') /};
        $.post(toggleLikeF({ id: id}), function(data) {
            if ($('#like_button_' + id).attr('like') == 'true') {
                $('#like_button_' + id).attr('like', 'false');
                $('#like_button_' + id).attr('title', '&{'subscribe'}');
                $('#like_button_' + id).attr('data-original-title', '&{'subscribe'}');
                $('#like_button_' + id).html("&{'like'}");
            } else {
                $('#like_button_' + id).attr('like', 'true');
                $('#like_button_' + id).attr('title', '&{'unsubscribe'}');
                $('#like_button_' + id).attr('data-original-title', '&{'unsubscribe'}');
                $('#like_button_' + id).html("&{'dislike'}");
            }
        });
    }

    function toggleFollow(id, title, href, selected) {
        var toggleFollowF = #{jsAction @toggleFollow(':id') /};
        $.post(toggleFollowF({ id: id}), function(data) {
            if ($('#follow_button_' + id).attr('follow') == 'true') {
                $('#follow_button_' + id).attr('follow', 'false');
                $('#follow_button_' + id).attr('title', '&{'subscribe'}');
                $('#follow_button_' + id).attr('data-original-title', '&{'subscribe'}');
                $('#follow_button_' + id).html("&{'follow'}");
                /*$('#user_friend_' + id).remove();*/
            } else {
                $('#follow_button_' + id).attr('follow', 'true');
                $('#follow_button_' + id).attr('title', '&{'unsubscribe'}');
                $('#follow_button_' + id).attr('data-original-title', '&{'unsubscribe'}');
                $('#follow_button_' + id).html("&{'unfollow'}");
                /*if (selected) {
                    $('#user_friends').append("<li id='user_product_" + id +"'>" +
                            "<a href='" + href + "'><small><strong>" + title + "</strong></small></a></li>");
                } else {
                    $('#user_friends').append("<li id='user_product_" + id +"'>" +
                            "<a href='" + href + "'><small>" + title + "</small></a></li>");
                }*/
            }
            /*$('#no_user_friends').css({ display :
                    $(('#user_friends')).children().length > 0 ? "none" : "block"
            });*/
        });
    }
</script>
<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="span8">
        #{if selectedProduct}
            <div style="border:1px solid #efdfcc; -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -khtml-border-radius: 5px;
                    border-radius: 5px; background-color: #fffffa;">
            <table style="width: 100%;">
                <tr>
                    <td style="padding: 14px; width: 65px; vertical-align: top;">
                        <img src="@{productPhoto(selectedProduct.id)}" class="img-rounded" style="width:65px">
                    </td>
                    <td valign="top" style="padding: 10px 10px 10px 0;">
                        <strong>${selectedProduct.title}</strong>

                        #{if selectedProduct.category}
                            <a href="@{index(selectedProduct.category.id)}" class="muted"><small>${selectedProduct.category}</small></a>
                        #{/if}

                        #{if selectedProduct.parent}
                            <a href="@{index(null, selectedProduct.parent.id)}" class="muted"><small>${selectedProduct.parent}</small></a>
                        #{/if}
                        <p>
                        ${selectedProduct.description.nl2br()}
                        </p>
                        #{if selectedProduct.url || selectedProduct.twitter || selectedProduct.facebook || selectedProduct.vk || selectedProduct.youTube || selectedProduct.review || selectedProduct.store || selectedProduct.lastFM || selectedProduct.cloudsound || selectedProduct.foursquare}
                            <div>
                                <p>
                                    #{if selectedProduct.url} <a href="${selectedProduct.url}" target="_blank" class="ico-button ico-home title_hint" title="&{'url'}" onclick="event.stopPropagation();"></a> #{/if}
                                    #{if selectedProduct.twitter} <a href="${selectedProduct.twitter}" target="_blank" class="ico-button ico-twitter title_hint" title="&{'twitter'}" onclick="event.stopPropagation();"></a> #{/if}
                                    #{if selectedProduct.facebook} <a href="${selectedProduct.facebook}" target="_blank" class="ico-button ico-facebook title_hint" title="&{'facebook'}" onclick="event.stopPropagation();"></a> #{/if}
                                    #{if selectedProduct.vk} <a href="${selectedProduct.vk}" target="_blank" class="ico-button ico-vk title_hint" title="&{'vk'}" onclick="event.stopPropagation();"></a> #{/if}
                                    #{if selectedProduct.youTube} <a href="${selectedProduct.youTube}" target="_blank" class="ico-button ico-youtube title_hint" title="&{'youTube'}" onclick="event.stopPropagation();"></a> #{/if}
                                    #{if selectedProduct.lastFM} <a href="${selectedProduct.lastFM}" target="_blank" class="ico-button ico-lastfm title_hint" title="&{'lastFM'}" onclick="event.stopPropagation();"></a> #{/if}
                                    #{if selectedProduct.cloudsound} <a href="${selectedProduct.cloudsound}" target="_blank" class="ico-button ico-cloudsound title_hint" title="&{'cloudsound'}" onclick="event.stopPropagation();"></a> #{/if}
                                    #{if selectedProduct.review} <a href="${selectedProduct.review}" target="_blank" class="ico-button ico-review title_hint" title="&{'review'}" onclick="event.stopPropagation();"></a> #{/if}
                                    #{if selectedProduct.store} <a href="${selectedProduct.store}" target="_blank" class="ico-button ico-store title_hint" title="&{'store'}" onclick="event.stopPropagation();"></a> #{/if}
                                    #{if selectedProduct.foursquare} <a href="${selectedProduct.foursquare}" target="_blank" class="ico-button ico-foursquare title_hint" title="&{'foursquare'}" onclick="event.stopPropagation();"></a> #{/if}
                                </p>
                            </div>
                        #{/if}
                        <small class="muted">${selectedProduct.date?.format('d, MMMM yyyy')}</small>
                        #{if user != null}
                            &nbsp;
                            <span>
                                <small>
                                    <a id="like_button_${selectedProduct.id}" href="#" class="product_text_buttons slow_title_hint" onclick="
                                            toggleLike(${selectedProduct.id}, '${selectedProduct.title.addSlashes()}',
                                                '@{index(null, selectedProduct.id)}', true);
                                            event.stopPropagation(); event.preventDefault();"
                                       like="#{if user.products.contains(selectedProduct)}true#{/if}#{else}false#{/else}"
                                       title="#{if user.products.contains(selectedProduct)}&{'unsubscribe'}#{/if}#{else}&{'subscribe'}#{/else}">
                                        #{if user.products.contains(selectedProduct)}&{'dislike'}#{/if}#{else}&{'like'}#{/else}
                                    </a>
                                </small>
                            </span>
                        #{/if}
                    </td>
                </tr>
            </table>
            </div>
            <br/>
        #{/if}
        #{if selectedUser }
            <div style="border:1px solid #efdfcc; -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -khtml-border-radius: 5px;
                    border-radius: 5px; background-color: #fffffa;">
                <table style="width: 100%;">
                    <tr>
                        <td style="padding: 14px; width: 65px; vertical-align: top;">
                            <img src="@{userPhoto(selectedUser.id)}" class="img-rounded" style="width:65px">
                        </td>
                        <td valign="top" style="padding: 10px 10px 10px 0;">
                            <strong>${selectedUser.fullname}</strong>
                            <p>
                            ${selectedUser.about?.nl2br()}
                            </p>
                            <small class="muted">&{'Россия, Санкт-Петербург'}&nbsp;</small>
                            #{if user != null}
                                <small>
                                    <a id="follow_button_${selectedUser.id}" style="margin-top: -3px" href="#" class="product_text_buttons slow_title_hint" onclick="
                                            toggleFollow(${selectedUser.id}, '${selectedUser.fullname.addSlashes()}',
                                            '@{index(null, selectedUser.id)}', true);
                                            event.stopPropagation(); event.preventDefault();"
                                       follow="#{if user.friends.contains(selectedUser)}true#{/if}#{else}false#{/else}"
                                       title="#{if user.friends.contains(selectedUser)}&{'unsubscribe'}#{/if}#{else}&{'subscribe'}#{/else}">
                                        #{if user.friends.contains(selectedUser)}&{'unfollow'}#{/if}#{else}&{'follow'}#{/else}
                                    </a>
                                </small>
                            #{/if}
                        </td>
                    </tr>
                </table>
            </div>
            <br/>
        #{/if}
        <div style="border:1px solid rgb(232, 232, 232); -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                -khtml-border-radius: 5px;
                border-radius: 5px; background-color: white;">
            <table id="products_table" style="width: 100%; cursor: pointer;">
                <tr>
                    <td colspan="2" style="padding: 0 15px;">
                        <h4>
                            #{if selectedCategory}
                                ${selectedCategory.title}
                            #{/if}
                            #{elseif selectedProduct}
                                &{'timeline'}
                            #{/elseif}
                            #{elseif selectedUser }
                                &{'likes'}
                            #{/elseif}
                            #{else}
                                &{'timeline'}
                            #{/else}
                        </h4>
                    </td>
                </tr>
                #{list items:products, as:'product'}
                    #{display product:product, user:user /}
                #{/list}
                #{if products.isEmpty()}
                    <tr class="hovered-item">
                        <td colspan="2" style="padding: 14px; border-top:1px solid rgb(232, 232, 232); width: 65px; vertical-align: top;">
                            &{'empty'}
                        </td>
                    </tr>
                #{/if}
            </table>
        </div>
    </div>
    <div class="span4">
        <div style="border:1px solid rgb(232, 232, 232); -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                -khtml-border-radius: 5px;
                border-radius: 5px; padding: 10px 15px;">
            <span>&{'categories'}</span>
            #{if user != null}
                · <small><a href="@{Users.show(user.id)}" class="small">&{'edit'}</a></small>
                <p>
                #{if !user.categories.isEmpty()}
                    <ul class="unstyled">
                        <li><a href="@{Application.index(null, null, u != -1 ? u : null)}">
                            <small>
                                #{if c == -1 && p == -1 }<strong>#{/if}
                                    &{'all'}
                                #{if c == -1 && p == -1 }</strong>#{/if}
                            </small>
                        </a></li>
                        #{list items:user.categories, as:'category'}
                        #{if !category.draft }
                            <li><a href="@{Application.index(category.id, null, u != -1 ? u : null)}">
                                    <small>
                                        #{if c > 0 && c == category.id }<strong>#{/if}
                                            ${category}
                                        #{if c > 0 && c == category.id }</strong>#{/if}
                                    </small>
                                </a></li>
                        #{/if}
                        #{/list}
                    </ul>
                #{/if}
                #{else}
                    <div class="muted">
                        <small>&{'notSelected'}</small>
                    </div>
                #{/else}
                </p>
            #{/if}
            #{else}
                <p>
                    <ul class="unstyled">
                        <li><a href="@{Application.index()}">
                            <small>
                                #{if c == -1 && p == -1 }<strong>#{/if}
                                   &{'all'}
                                #{if c == -1 && p == -1 }</strong>#{/if}
                            </small>
                        </a></li>
                        #{list items:categories, as:'category'}
                            <li><a href="@{Application.index(category.id, null, u != -1 ? u : null)}">
                                #{if c > 0 && c == category.id }<strong>#{/if}
                                    <small>${category}</small>
                                #{if c > 0 && c == category.id }</strong>#{/if}
                            </a></li>
                        #{/list}
                    </ul>
                </p>
            #{/else}
        </div>
    </div>
</div>