<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta property="og:title" content="#{get 'title' /}" />
        <meta property="og:description" content="#{get 'description' /}" />
        <meta property="og:image" content="#{get 'image' /}" />
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap.css'}">
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
                padding-bottom: 40px;
            }
        </style>
        <link href="@{'/public/css/bootstrap.css'}" rel="stylesheet">
        <link href="@{'/public/css/default.css'}" rel="stylesheet">
        <link href="@{'/public/css/datepicker.css'}" rel="stylesheet">
        <link href="@{'/public/css/SoundPlayer.css'}" rel="stylesheet">

        #{get 'moreStyles' /}

        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

        <script src="@{'/public/js/jquery-1.8.1.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/js/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/js/typeahead.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/js/datepicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/js/soundmanager2.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/js/SoundPlayer.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}

        <script type="text/javascript">
            function nl2br(str, is_xhtml) {
                var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
                return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
            }
            var currentPage = 0;
            var requestingNextPage = false;
            var noMoreResults = false;
            var selectedCategoryId = ${c};
            var search = '${s}'; /* escape characters */
            var u = #{if u}${u}#{/if}#{else}-1#{/else};
            var selectedProductId = #{if selectedProduct}${selectedProduct.id}#{/if}#{else}-1#{/else};
            var userProducts = ${userProducts};
            $(function(){
                $(window).scroll(function(){
                    if  ($(window).scrollTop() >= $(document).height() - $(window).height() - 100 && !noMoreResults && !requestingNextPage) {
                        var listAction = #{jsAction @Application.getProducts(null, null, ':u', ':s', ':page') /};
                        requestingNextPage = true;
                        $.getJSON(
                            search.length > 0 ?
                                    ("/application/getproducts?s=" + search + "&page=" + (currentPage + 1)) :
                            selectedCategoryId != -1 ?
                                    ("/application/getproducts?u=" + u + "&c=" + selectedCategoryId + "&p=-1&page=" + (currentPage + 1)) :
                                    selectedProductId != -1 ?
                                            "/application/getproducts?u=" + u + "&c=-1&p=" + selectedProductId + "&page=" + (currentPage + 1) :
                                            "/application/getproducts?u=" + u + "&c=-1&p=-1&page=" + (currentPage + 1),
                            function(data) {
                                currentPage++;
                                var isYT = false;
                                for (var i = 0; i < data.length; i++) {
                                    $("#products_table").append(
                                            "<tr class='hovered-item' onclick='toggleProduct(" + data[i].id + ")'>" +
                                                    "<td style='padding: 14px; border-top:1px solid rgb(232, 232, 232); width: 65px; vertical-align: top;'>" +
                                                    "<img src='/application/productphoto?id=" + data[i].id + "'" +
                                                    " class='img-rounded' style='width:65px'>" +
                                                    "</td>" +
                                                    "<td valign='top' style='padding: 10px 10px 10px 0; border-top:1px solid rgb(232, 232, 232);'" +
                                                    ">" +
                                                    "<a href='/?p=" + data[i].id + "' style='color: black;' onclick='event.stopPropagation();'><strong>" + data[i].title + "</strong></a>" +
                                                    (data[i].category ? " <a href='/?c=" + data[i].category.id + "' class='muted' onclick='event.stopPropagation();'><small>" + data[i].category.title + "</small></a>" : "") +
                                                    (data[i].parent ? " <a href='/?p=" + data[i].parent.id + "' class='muted' onclick='event.stopPropagation();'><small>" + data[i].parent.title + "</small></a>" : "") +
                                                    "<p>" + nl2br(data[i].description) + "</p>" +
                                                    ((data[i].url || data[i].twitter || data[i].facebook || data[i].vk || data[i].youTube ||
                                                            data[i].review || data[i].store || data[i].foursquare || data[i].lastFM || data[i].cloudsound) ?
                                                            "<div id='product_buttons_" + data[i].id + "' style='display: none;'><p> " +
                                                                    (data[i].url ? "<a href='" + data[i].url + "' target='_blank' class='ico-button ico-home title_hint' title=\"&{'url'}\" onclick='event.stopPropagation();'></a> " : "") +
                                                                    (data[i].twitter ? "<a href='" + data[i].twitter + "' target='_blank' class='ico-button ico-twitter title_hint' title=\"&{'twitter'}\" onclick='event.stopPropagation();'></a> " : "") +
                                                                    (data[i].facebook ? "<a href='" + data[i].facebook + "' target='_blank' class='ico-button ico-facebook title_hint' title=\"&{'facebook'}\" onclick='event.stopPropagation();'></a> " : "") +
                                                                    (data[i].vk ? "<a href='" + data[i].vk + "' target='_blank' class='ico-button ico-vk title_hint' title=\"&{'vk'}\" onclick='event.stopPropagation();'></a> " : "") +
                                                                    (data[i].review ? "<a href='" + data[i].review + "' target='_blank' class='ico-button ico-review title_hint' title=\"&{'review'}\" onclick='event.stopPropagation();'></a> " : "") +
                                                                    (data[i].store ? "<a href='" + data[i].store + "' target='_blank' class='ico-button ico-store title_hint' title=\"&{'store'}\" onclick='event.stopPropagation();'></a> " : "") +
                                                                    (data[i].foursquare ? "<a href='" + data[i].foursquare + "' target='_blank' class='ico-button ico-foursquare title_hint' title=\"&{'foursquare'}\" onclick='event.stopPropagation();'></a> " : "") +
                                                                    (data[i].lastFM ? "<a href='" + data[i].lastFM + "' target='_blank' class='ico-button ico-lastfm title_hint' title=\"&{'lastFM'}\" onclick='event.stopPropagation();'></a> " : "") +
                                                                    (data[i].cloudsound ? "<a id='SoundPlayer_" + data[i].id + "' href='" + data[i].cloudsound + "' target='_blank' class='SoundPlayer ico-button ico-cloudsound title_hint' title=\"&{'cloudsound'}\" onclick='event.stopPropagation();'></a> " : "") +
                                                                    (data[i].youTube ? "<a id='YTPlayer_" + data[i].id + "' href='" + data[i].youTube + "' target='_blank' class='YTPlayer ico-button ico-youtube title_hint' title=\"&{'youTube'}\" onclick='event.stopPropagation();'></a> " : "") +
                                                                    "</p></div>" : "") + (data[i].startDate && data[i].endDate ?
                                                    ( "<small class='muted'>" + data[i].startDate + " &mdash; " + data[i].endDate + "</small>" ) :
                                                    data[i].startDate ? ("<small class='muted'>" + data[i].startDate + "</small>") :
                                                            ("<small class='muted'>" + data[i].date + "</small>")) +
                                                    #{if user != null}
                                                    "&nbsp;&nbsp;" +
                                                    "<span id='product_text_buttons_" + data[i].id + "'>" +
                                                    "<small><a id='like_button_" + data[i].id + "' href='#' class='product_text_buttons slow_title_hint'" +
                                                    " onclick=\"toggleLike(" + data[i].id + ", '" + data[i].title + "', '/?p=" + data[i].id + "'," +
                                                    " selectedProductId == " + data[i].id + " ? true : false); event.stopPropagation(); event.preventDefault();\" " +
                                                    " like=\"" + ($.inArray(data[i].id, userProducts) != -1 ? "true" : "false") + "\" " +
                                                    " title=\"" + ($.inArray(data[i].id, userProducts) != -1 ? "&{'unsubscribe'}" : "&{'subscribe'}") + "\">" +
                                                    ($.inArray(data[i].id, userProducts) != -1 ? "&{'dislike'}" : "&{'like'}") +
                                                    "</a>#{if user.isAdmin}&nbsp;&nbsp;<a href='/admin/products/" + data[i].id + "' class='product_text_buttons slow_title_hint btn btn-mini' onclick='event.stopPropagation();' style='margin-top: -2px'>&{'edit_product'}</a>#{/if}</small></span>" +
                                                    #{/if}
                                                    "</td>" +
                                                    "</tr>");
                                    // Collect You tube videos.
                                    isYT = ( data[i].youTube ) ? true : isYT;
                                }
                                requestingNextPage = false;
                                noMoreResults = data.length == 0;
                                $('.title_hint').tooltip({placement: 'bottom'});
                                $('.slow_title_hint').tooltip({placement: 'bottom', delay: 1000});
                                // Substitute links with videos if YT API is ready.
                                isYT && YT && onYouTubeIframeAPIReady();
                                // Substitute links with sound player if SoundPlayer API is ready.
                                soundManager.onready(function() {
                                    $( '.SoundPlayer' ).each(function( index, elem ){
                                        new LS_SOUND_PLAYER({ url:elem.href, id:elem.id });
                                    });
                                });
                            }
                        )
                    }
                });
            });
        </script>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-7858420-3']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </head>
    <body>
        %{
            if (controllers.Security.isConnected()) {
                user = models.User.find("byEmail", controllers.Security.connected()).first();
            }
        }%
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner"  style="background-image: url(@{'/public/img/twitter_web_sprite_bgs.png'});
                    background-repeat: repeat-x; ">
                <div class="container">
                    <ul class="nav">
                        <li class="#{if home && u == -1 }active#{/if}"><a href="/"><i class="nav-home"></i>&{'home'}</a></li>
                        #{if user } <li class="#{if home && u != -1 }active#{/if}"><a href="@{Application.index(null, null, user.id)}"><i class="nav-likes"></i>&{'likes'}</a></li> #{/if}
                    </ul>
                    <span class="brand">Likespot</span>
                    <ul class="nav pull-right">
                        <li>
                            <form class="navbar-search pull-left">
                                *{<input name="c" type="hidden" value="${c}">
                                <input name="p" type="hidden" value="${p}">
                                <input name="u" type="hidden" value="${u}">}*
                                <input id="search_helper" name="s" type="text" class="search-query" placeholder="&{'search'}" value="${s}"
                                       data-provide="typeahead" autocomplete="off">
                                <button type="submit" class="search-icon" tabindex="-1"></button>
                            </form>
                            <script type="text/javascript">
                                $('#search_helper').typeahead({
                                    ajax: {
                                        url: "/application/suggestproducts", triggerLength: 3, method: "get"
                                    },
                                    display: "title"
                                });
                            </script>
                        </li>
                        #{if user}
                            #{if user.isAdmin}<li class="#{if blank }active#{/if}"><a href="@{Products.blank()}">&{'crud.add'}</a></li>#{/if}
                            <li class="dropdown">
                                <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                    ${user.fullname} <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                                    <li><a tabindex="-1" href="@{Users.show(user.id)}">&{'settings'}</a></li>
                                    <li class="divider"></li>
                                    #{if user.isAdmin}
                                    <li><a tabindex="-1" href="@{Products.list(null, null, null, null, 'DESC')}">&{'Products'}</a></li>
                                    <li><a tabindex="-1" href="@{Categories.list()}">&{'Categories'}</a></li>
                                    <li><a tabindex="-1" href="@{Users.list()}">&{'Users'}</a></li>
                                    <li class="divider"></li>
                                    #{/if}
                                    <li><a tabindex="-1" href="@{Secure.logout()}">&{'signOut'}</a></li>
                                </ul>
                            </li>
                        #{/if}
                        #{else}
                            <li><a href="@{Secure.login()}">&{'signIn'}</a></li>
                        #{/else}
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            #{doLayout /}
        </div>

        <script type="text/javascript">
            $('.title_hint').tooltip({placement: 'bottom'});
            $('.slow_title_hint').tooltip({placement: 'bottom', delay: 1000});
            $('.datepicker').datepicker({format: "yyyy-mm-dd", weekStart: 1});
            $(document).ready(function() {
                var img1 = new Image();
                var img2 = new Image();
                var img3 = new Image();
                var img4 = new Image();
                var img5 = new Image();
                var img6 = new Image();
                var img7 = new Image();
                var img8 = new Image();
                var img9 = new Image();
                var img10 = new Image();
                var img11 = new Image();
                var img12 = new Image();
                var img13 = new Image();
                var img14 = new Image();
                var img15 = new Image();
                var img16 = new Image();
                var img17 = new Image();
                var img18 = new Image();
                var img19 = new Image();
                var img20 = new Image();

                img1.src = "@{'/public/images/home.ico'}";
                img2.src = "@{'/public/images/home-default.ico'}";
                img3.src = "@{'/public/images/facebook.ico'}";
                img4.src = "@{'/public/images/facebook-default.ico'}";
                img5.src = "@{'/public/images/youtube.ico'}";
                img6.src = "@{'/public/images/youtube-default.ico'}";
                img7.src = "@{'/public/images/store.ico'}";
                img8.src = "@{'/public/images/store-default.ico'}";
                img9.src = "@{'/public/images/lastfm.ico'}";
                img10.src = "@{'/public/images/lastfm-default.ico'}";
                img11.src = "@{'/public/images/twitter.ico'}";
                img12.src = "@{'/public/images/twitter-default.ico'}";
                img13.src = "@{'/public/images/vk.ico'}";
                img14.src = "@{'/public/images/vk-default.ico'}";
                img15.src = "@{'/public/images/cloudsound.ico'}";
                img16.src = "@{'/public/images/cloudsound-default.ico'}";
                img17.src = "@{'/public/images/review.ico'}";
                img18.src = "@{'/public/images/review-default.ico'}";
                img19.src = "@{'/public/images/map.ico'}";
                img20.src = "@{'/public/images/map-default.ico'}";
            });
        </script>
    </body>
</html>
